In [69]:
import json
import csv
import random
import pandas as pd
 
 
# Opening JSON file and loading the data
# into the variable data
with open('20230130.json') as json_file:
    data = json.load(json_file)
 
employee_data = data['objects']
 
# now we will open a file for writing
data_file = open('20230130.csv', 'w')
 
# create the csv writer object
csv_writer = csv.writer(data_file)
 
# Counter variable used for writing
# headers to the CSV file
count = 0
 
for emp in employee_data:
    if count == 0:
 
        # Writing headers of CSV file
        header = emp.keys()
        csv_writer.writerow(header)
        count += 1
 
    # Writing data of CSV file
    csv_writer.writerow(emp.values())
 
data_file.close()

In [70]:
# Read the CSV file into a Pandas DataFrame
df = pd.read_csv("20230130.csv")

# Filter the data to leave only the rows where "status_name" is "Connected"
df = df[df["status_name"] == "Connected"] 
# df = df[df["asn_v4"] == 14593] 

tags = ["lte", "4g", "mobile", "3g"]
df = df[df["tags"].apply(lambda x: any(tag in x for tag in tags))]

# Show the filtered data
print(df)

            id      address_v4                              address_v6  \
239    1000234             NaN  2a01:598:b9a3:9b97:dea6:32ff:fe23:6be1
409    1000402    89.24.32.132                                     NaN
453    1000446  178.159.242.69                                     NaN
490    1000483   145.40.222.34                    2a0e:b102:170:50::31
511    1000503             NaN                                     NaN
...        ...             ...                                     ...
38016    62505  172.58.174.186                                     NaN
38093    62684  217.178.24.147                                     NaN
38098    62696    172.58.87.31  2607:fb90:fa04:8dc5:da58:d7ff:fe03:14c
38178    62868     98.97.39.44                                     NaN
38921      689  143.238.136.79  2001:8003:3835:9901:220:4aff:fec5:5892

        asn_v4    asn_v6         prefix_v4            prefix_v6  is_anchor  \
239        NaN    3320.0               NaN        2a01:598::/29      False
409    13036.0       NaN      89.24.0.0/17                  NaN      False
453     6697.0       NaN  178.159.240.0/21                  NaN      False
490     8758.0  209105.0   145.40.192.0/19   2a0e:b102:170::/44      False
511     6730.0       NaN    194.230.0.0/16                  NaN      False
...        ...       ...               ...                  ...        ...
38016  21928.0       NaN   172.58.168.0/21                  NaN      False
38093  55391.0       NaN    217.178.0.0/18                  NaN      False
38098  21928.0   21928.0    172.58.80.0/21  2607:fb90:fa00::/40      False
38178  14593.0       NaN     98.97.32.0/21                  NaN      False
38921   1221.0    1221.0    143.238.0.0/16       2001:8000::/20      False

       is_public  status  status_since  first_connected  total_uptime  \
239         True       1    1674648077     1.582125e+09      92589256
409         True       1    1675127245     1.586802e+09      81929256
453         True       1    1666681247     1.587250e+09      87858203
490         True       1    1674798259     1.588234e+09      84257997
511        False       1    1674189191     1.588768e+09      82378033
...          ...     ...           ...              ...           ...
38016       True       1    1674918115     1.671362e+09       3757770
38093       True       1    1675129806     1.668569e+09       5911375
38098       True       1    1675014100     1.670453e+09       2449214
38178       True       1    1674820156     1.670530e+09       4582421
38921       True       1    1674774742     1.337993e+09     281527929

                                                    tags country_code  \
239    ['telekom', 'system-ipv4-stable-1d', 'system-i...           DE
409    ['mobile', '4g', 'lte', 'ipv4', 'nat', 'system...           CZ
453    ['system-ipv4-stable-1d', 'system-resolves-aaa...           BY
490    ['system-ipv6-stable-1d', 'system-ipv4-stable-...           CH
511    ['system-ipv4-stable-1d', 'system-resolves-aaa...           CH
...                                                  ...          ...
38016  ['system-ipv4-stable-1d', 't-mobile', 'system-...           US
38093  ['system-ipv4-stable-1d', 'system-ipv4-stable-...           JP
38098  ['system-ipv6-stable-1d', 'system-ipv4-stable-...           US
38178  ['system-ipv4-stable-1d', 'system-resolves-aaa...           US
38921  ['system-ipv6-stable-1d', 'system-ipv6-stable-...           AU

       latitude  longitude       day  \
239     48.0995    11.5285  20230130
409     49.1785    16.3875  20230130
453     53.8505    27.6395  20230130
490     47.5785     8.5215  20230130
511     46.3885     6.2475  20230130
...         ...        ...       ...
38016   30.1195   -81.4325  20230130
38093   35.5795   139.7115  20230130
38098   44.8805   -91.9185  20230130
38178   45.8415  -120.7095  20230130
38921  -33.6685   150.9415  20230130

                                               probe status_name
239    https://atlas.ripe.net/api/v2/probes/1000234/   Connected
409    https://atlas.ripe.net/api/v2/probes/1000402/   Connected
453    https://atlas.ripe.net/api/v2/probes/1000446/   Connected
490    https://atlas.ripe.net/api/v2/probes/1000483/   Connected
511    https://atlas.ripe.net/api/v2/probes/1000503/   Connected
...                                              ...         ...
38016    https://atlas.ripe.net/api/v2/probes/62505/   Connected
38093    https://atlas.ripe.net/api/v2/probes/62684/   Connected
38098    https://atlas.ripe.net/api/v2/probes/62696/   Connected
38178    https://atlas.ripe.net/api/v2/probes/62868/   Connected
38921      https://atlas.ripe.net/api/v2/probes/689/   Connected

[198 rows x 20 columns]

In [71]:
df["country_code"].unique()

array(['DE', 'CZ', 'BY', 'CH', 'SE', 'RU', 'LV', 'IT', 'NZ', 'JO', 'GB',
       'US', 'AU', 'ID', 'FI', 'IN', 'SK', 'FR', 'CA', 'NL', 'HK', 'AT',
       'NO', 'EE', 'ES', 'PL', 'BG', 'IR', 'JP', 'DK', 'CL', 'RO', 'GR',
       'TN', 'KZ', 'MY', 'UA', 'IQ', 'RE', 'SI', 'SA', nan, 'MN', 'TR'],
      dtype=object)

Europe

In [72]:
df_de = df[df["country_code"] == "DE"]
# sample_de = df_de.sample(n=26, random_state=123)
id_string_de = ", ".join(map(str, df_de["id"]))
id_string_de

'1000234, 1000568, 1002075, 1002318, 1003425, 1004094, 1004571, 1004854, 24555, 25262, 25993, 26320, 2659, 28260, 30626, 3333, 33376, 33622, 34612, 50081, 50412, 50532, 53236, 53821, 55677, 62047'

In [73]:
df_ru = df[df["country_code"] == "RU"]
# sample_ru = df_ru.sample(n=10, random_state=123)
id_string_ru = ", ".join(map(str, df_ru["id"]))
id_string_ru

'1000879, 1003494, 33318, 3959, 50024, 52413, 54146'

In [74]:
df_es = df[df["country_code"] == "ES"]
# sample_es = df_es.sample(n=10, random_state=123)
id_string_es = ", ".join(map(str, df_es["id"]))
id_string_es

'14842, 18565, 28761'

In [75]:
df_dk = df[df["country_code"] == "DK"]
# sample_dk = df_dk.sample(n=10, random_state=123)
id_string_dk = ", ".join(map(str, df_dk["id"]))
id_string_dk

'26705, 29793, 50705, 54028'

In [76]:
df_gb = df[df["country_code"] == "GB"]
# sample_dk = df_dk.sample(n=10, random_state=123)
id_string_gb = ", ".join(map(str, df_gb["id"]))
id_string_gb

'1002421, 1002522, 1002683, 1004866, 51136, 53842, 54532, 54866, 55293'

North America

In [77]:
df_us = df[df["country_code"] == "US"]
# sample_us = df_us.sample(n=19, random_state=123)
id_string_us = ", ".join(map(str, df_us["id"]))
id_string_us

'1002591, 1002626, 1003040, 1004212, 1005000, 14226, 16790, 16896, 18667, 23036, 4069, 50180, 51459, 55018, 55630, 60162, 60435, 60605, 60822, 61113, 61785, 61816, 61868, 62505, 62696, 62868'

In [78]:
df_ca = df[df["country_code"] == "CA"]
# sample_ca = df_ca.sample(n=10, random_state=123)
id_string_ca = ", ".join(map(str, df_ca["id"]))
id_string_ca

'1004821'

Australia

In [79]:
df_au = df[df["country_code"] == "AU"]
# sample_au = df_au.sample(n=10, random_state=123)
id_string_au = ", ".join(map(str, df_au["id"]))
id_string_au

'1002682, 20825, 28477, 61689, 689'

In [80]:
df_nz = df[df["country_code"] == "NZ"]
# sample_au = df_au.sample(n=10, random_state=123)
id_string_nz = ", ".join(map(str, df_nz["id"]))
id_string_nz

'1002225'

Asia

In [81]:
df_cn = df[df["country_code"] == "CN"]
# sample_cn = df_cn.sample(n=5, random_state=123)
id_string_cn = ", ".join(map(str, df_cn["id"]))
id_string_cn

''

In [82]:
df_kz = df[df["country_code"] == "KZ"]
# sample_kz = df_kz.sample(n=5, random_state=123)
id_string_kz = ", ".join(map(str, df_kz["id"]))
id_string_kz

'32473'

In [83]:
df_in = df[df["country_code"] == "IN"]
# sample_kz = df_kz.sample(n=5, random_state=123)
id_string_in = ", ".join(map(str, df_in["id"]))
id_string_in

'1002932'

In [84]:
df_jp = df[df["country_code"] == "JP"]
# sample_kz = df_kz.sample(n=5, random_state=123)
id_string_jp = ", ".join(map(str, df_jp["id"]))
id_string_jp

'17602, 17789, 3457, 62684'

Africa

In [85]:
df_ma = df[df["country_code"] == "MA"]
# sample_ma = df_ma.sample(n=3, random_state=123)
id_string_ma = ", ".join(map(str, df_ma["id"]))
id_string_ma

''

In [86]:
df_za = df[df["country_code"] == "ZA"]
# sample_za = df_za.sample(n=7, random_state=123)
id_string_za = ", ".join(map(str, df_za["id"]))
id_string_za

''

South America

In [87]:
df_cl = df[df["country_code"] == "CL"]
# sample_co = df_co.sample(n=5, random_state=123)
id_string_cl = ", ".join(map(str, df_cl["id"]))
id_string_cl

'26834'

In [88]:
df_ar = df[df["country_code"] == "AG"]
# sample_ar = df_ar.sample(n=5, random_state=123)
id_string_ar = ", ".join(map(str, df_ar["id"]))
id_string_ar

''

In [89]:
final_id_string = id_string_nz + ", " + id_string_in + ", " + id_string_de + ", " + id_string_gb + ", " + id_string_jp + ", " + id_string_ru + ", " + id_string_es + ", " + id_string_dk + ", " + id_string_us + ", " + id_string_ca + ", " + id_string_au + ", " + id_string_cn + ", " + id_string_kz + ", " + id_string_ma + ", " + id_string_za + ", " + id_string_ar

final_id_string

'1002225, 1002932, 1000234, 1000568, 1002075, 1002318, 1003425, 1004094, 1004571, 1004854, 24555, 25262, 25993, 26320, 2659, 28260, 30626, 3333, 33376, 33622, 34612, 50081, 50412, 50532, 53236, 53821, 55677, 62047, 1002421, 1002522, 1002683, 1004866, 51136, 53842, 54532, 54866, 55293, 17602, 17789, 3457, 62684, 1000879, 1003494, 33318, 3959, 50024, 52413, 54146, 14842, 18565, 28761, 26705, 29793, 50705, 54028, 1002591, 1002626, 1003040, 1004212, 1005000, 14226, 16790, 16896, 18667, 23036, 4069, 50180, 51459, 55018, 55630, 60162, 60435, 60605, 60822, 61113, 61785, 61816, 61868, 62505, 62696, 62868, 1004821, 1002682, 20825, 28477, 61689, 689, , 32473, , , '

In [90]:
import requests

url = "https://atlas.ripe.net/api/v2/measurements/49339537"
data = "DELETE"
response = requests.post(url, data=data)

if response.status_code == 200:
    print("The request was successful")
else:
    print("The request failed with status code:", response.status_code)

The request failed with status code: 403